/* Color Pallet - Main: #4A5D23 - Accents: #678231, #5D5323 */

* {
  margin: 0;
  padding: 0;
}

html {
    height: 100vh;
    background-color: #5D5323;
}

body {
    height: 100vh;

}

/* #header {
    background-color: #5D5323;
    margin: 0;
    padding-top: 2vh;
    padding-bottom: 2vh;
    position: relative;

}


#title {
    color: black;
    text-align: center;
    
  } */
  
/* #main {
    background-color: #4A5D23;
    height: 100%;
    position: relative;
}

#containers {
  top: 4px;
  left: 4px;
  position: absolute;
}

#hpContainer {
  margin-bottom: 4px;
  padding: 10px 4px 10px 2px;
  border: 1px solid black;
}

#enemyContainer {
  margin-bottom: 4px;
  padding: 10px 4px 10px 2px;
  border: 1px solid black;
}

#levelContainer {
  padding: 10px 4px 10px 2px;
  border: 1px solid black;
}

#spellContainer {
  padding: 10px 4px 10px 2px;
  border: 1px solid black;
}

#pStatsContainer {
  position: absolute;
  top: 4px;
  right:4px;

  border: 1px solid black;
  padding: 10px 4px 10px 4px;
}

#eStatsContainer {
  position: absolute;
  top: 200px;
  right: 4px;

  border: 1px solid black;
  padding: 10px 4px 10px 4px;
}

#stats {
  text-decoration: underline;
  text-align: center;
  padding-bottom: 4px;
} */


/* ---------- START DROPDOWN ----------- */

.dropbtn {
  background-color: #4A5D23;
  color: white;

  margin-bottom: 1.5vw;
  margin-left: 2.5vw;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  
  font-size: 12px;
  padding: 12px;
  border: none;
  border-radius: 50%;
  
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #678231
}

.dropdown {
  position: relative;
  display: inline-block;
  
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;

  background-color: #f1f1f1;
  opacity: 80%;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu */
.show {display:block;}

/* ----------- END DROPDOWN ------------ */

/* TODO: ground stylings together and style based on class
not ID's
*/

@media only screen and (max-width:600px) {
  html {
    background-color: #5D5323;
  }
  body {
    height: 100%;
  }
  #header {
    background-color: #5D5323;
    padding-top: 2vh;
    padding-bottom: 2vh;
    position: sticky;
    top: 0;
  }
  #title {
    color: black;
    text-align: center;
  }
  #main {
    background-color: #4A5D23;
    height: 79%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  #containers {
    display: flex;
    justify-content: space-between;
    background-color: gray;
    position: relative;

    border-style: double;
  }
  #hpContainer {
    width: 50%;
    text-align: center;
    border-style: hidden dashed hidden hidden;
  }
  #enemyContainer {
    width: 50%;
    text-align: center;
  }
  #footer {
    background-color: #5D5323;
    padding-top: 2vh;
    padding-bottom: 2vh;
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
  }
  
  .btn {
    background-color: gray;
    border-radius: 50%;
    border: none;
    padding: 2vh;
  }

  /* Popup container
    NOTES: display set to relative, change to absolute when finished testing
   */
  .popup {
    position: relative; 
    display: inline-block;
    cursor: pointer;
  }

  /* Popup */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    transform: translateX(50%);
  }
  .popup .popuptext::after {
    content: "";
    position: absolute;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

  /* Show popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }

  /* Create animation
  NOTE: ask why it needs to be rewrote twice?
   */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }

  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
}