/* TODO:
- Clean code
  - Better comments and clean old ones/out-dated comments
- Go through the game a few times and note broken features
  - Fix bugs that fully break gameplay first
  - Start thinking about enemy generation
  - Start thinking about balancing
- Design generic enemy and characters
- fix issue of more then one popup, maybe set an on off flag?

/* Css reset */
* {
  margin: 0;
  padding: 0;
}

/* --------------- Desktop -------------- */
/* -------------------------------------- */
@media only screen and (min-width:668px) {
  
  /* ---------- HEADER ----------- */
  #title {
    padding-right: 1rem;
    -webkit-animation: slide-right 3s;
    animation: slide-right 3s;
  }
  .btn {
    background-color: rgb(165, 165, 165);
    padding: 2rem;
    border-radius: 0.5rem;
    max-height: 2rem;
    width: 33%;
    border: solid;
    border-color: rgb(82, 82, 82);
  }
}

/* --------------- Mobile --------------- */
/* -------------------------------------- */
@media only screen and (max-width:667px) {
  
  /* ------------ Header ------------*/
  #title {
    margin-right: 25%;
  }
  
  /* Footer buttons */
  .btn {
    background-color: rgb(165, 165, 165);
    padding: 2rem;
    border-radius: 50%;
    border: solid;
    border-color: rgb(82, 82, 82);
  }
  
}

/* -------------------------------------- */
/* ------------ Used for all ------------ */
/* -------------------------------------- */

html {
  height: 100vh;
  background-color: #5D5323;
  /* font-family: fantasy; --> not good for all browsers*/
  font-family: Papyrus, Garamond, sans-serif;

}
body {
  height: 100%;
  display: flex;
  flex-direction: column;
}
#main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* ------------ Header ------------ */
#header {
  background-color: #5D5323;
  display: flex;
  justify-content: space-between;
}
#title {
  color: white;
  padding-top: 1rem;
}

.dropbtn {
  background-color: rgb(165, 165, 165);
  color: white;

  margin-top: 1rem;
  margin-left: 1rem;

  cursor: pointer;
  
  font-size: 12px;
  padding: 6px;
  border-style: solid;
  border-color: rgb(82, 82, 82);
  border-radius: 50%;
  
}

/* ---------- PROGRESS CONTAINER ----------- */
#progressContainer {
  display: flex;
  justify-content: space-around;
  background-color: rgb(165, 165, 165);
  background-image: url("/icons/background2.svg");
  border-style: solid hidden solid;
  border-color: rgb(82, 82, 82);
}


/* ---------- HEALTH CONTAINER ----------- */
#charaContainer {
  display: flex;
  justify-content: space-between;
  position: relative;
  
  border-style: ridge;
  border-color: rgb(82, 82, 82);
}
#hpContainer {
  display: flex;
  flex-direction: column;
  background-color: gray;
  background-image: url("icons/background2.svg");
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  width: 50%;
  
  border-style: solid hidden solid solid;
  border-color: rgb(82, 82, 82);
  
}
#enemyContainer {
  display: flex;
  flex-direction: column;
  background-color: gray;
  background-image: url("icons/background2.svg");
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  width: 50%;
  
  border-style: solid solid solid hidden;
  border-color: rgb(82, 82, 82);
  
  
}

/* ---------- SPRITES & ACTION ----------- */
#spritesContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  background-image: url("/icons/background.svg");
  
  border-style: ridge;
  border-color: rgb(82, 82, 82);
  overflow: hidden;

  .spriteAction {
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    transform: translateY(-20%);
    overflow: hidden;

    .actionBorder {
      display: flex;
      flex-direction: column;

      min-width: 45%;
      max-width: 45%;
      min-height: 40%;
      max-height: 40%;
      overflow: hidden;
      text-align: center;
      
      border: double;
      border-color: rgb(82, 82, 82);
      background-color: black;

      .mainAction{
        background-color: rgb(82, 82, 82);

        #player-action {
          color: lightgreen;
          animation: slide-right 2s;
        }
        #enemy-action {
          color: lightcoral;
          animation: slide-left 2s;
        }
        
      }
      
      .subAction {
        overflow: hidden;
        
        .actionSubText {
          opacity: 30%;
          color: white;
          animation: slide-up 1s;
        }
      }
    }
  }
  
}

.sprites {
  position: relative;
  max-height: 0%;
  
  .spritesCont {
    display: flex;
    justify-content: space-around;
    transform: translateY(-90%);
    overflow: hidden;
    
    .playerSprite {
      content: url("icons/mageSprite.svg");
    }
    
    .enemySprite {
      content: url("icons/goblin.svg");
    }
  }
}

/* ----------- Action Container/Black Bar ------------ */
#blackBar {
  z-index: 2;
  background-color: black;
  padding: 0.5rem;
  
  border-style: solid hidden solid;
  border-color: rgb(82, 82, 82);

  text-align: center;

  .barText {
    animation: p-turn 3s;
    animation-iteration-count: infinite;
  }
  
}



/* ----------- SPRITE HIT ------------ */
.pSpriteHit {
  animation: slide-up 1s;
  content: url("icons/mageSprite.svg");
}
.pSpriteAtk {
  animation: slide-left 1s;
  content: url("icons/mageSprite.svg");
}
.eSpriteHit {
  animation: slide-up 1s;
  content: url("icons/goblin.svg");
}
.eSpriteAtk {
  animation: slide-right 1s;
  content: url("icons/goblin.svg");
}

/* ----------- TEXT ------------ */
.charName {
  font-size: 2rem;
  color: white;
}
.charText {
  text-align: center;
  padding-top: 1rem;
  font-size: 1.5rem;
  color: whitesmoke;
}

/* ----------- HP/MP METER ------------ */
.meterCont {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;

  .meter {
    height: 2rem;
    width: 4.5rem;
  }
  ::-webkit-meter-bar {
    background: black;
  }
  #playerMp-meter::-webkit-meter-optimum-value {
    background: blue;
  }
  #playerMp-meter::-webkit-meter-suboptimum-value {
    background: blue;
  }
  #playerMp-meter::-moz-meter-bar {
    background: blue;
  }
}

/* ----------- FOOTER ------------ */
#footer {
  display: flex;
  justify-content: space-evenly;
  padding: 0.25rem;
}

.btn:hover {
  background-color: rgb(82, 82, 82);
  border-color: rgb(165, 165, 165);
}
.btn:active {
  box-shadow: 0 5px rgb(165, 165, 165);
  transform: translateY(0.25rem)
}

/* ----------- PROGRESS CIRCLES ------------ */
#circle {
  width: 2rem;
  height: 2rem;
  border-radius: 25px;
  border-style: solid;
  border-color: rgb(82, 82, 82);
  background-color: rgb(165, 165, 165);
}

#selectedCircle {
  width: 2rem;
  height: 2rem;
  border-radius: 25px;
  border-style: solid;
  border-color: rgb(165, 165, 165);
  background-color: white;
}

#clearedCircle {
  width: 2rem;
  height: 2rem;
  border-radius: 25px;
  border-style: solid;
  border-color: rgb(165, 165, 165);
  background: rgb(82, 82, 82);
}

/* ------------ Popups ------------ */
.popButton {
  width: 4rem;
  background-color: rgb(165, 165, 165);
  color: black;
  font-family: fantasy;
  cursor: pointer;
}

.popup {
  position: relative; 
  display: inline-block;
  z-index: 100;
}

/* Popup */
.popup .popuptext {
  display: flex;
  flex-direction: column;
  visibility: hidden;
  background-color: #5D5323;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  border-style: solid;
  border-color: rgb(82, 82, 82);
  padding: 0.5rem;
  width: 300px;
  z-index: 1;
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 5px 5px 5px rgb(82, 82, 82);
}
.popup .popuptext::after {
  content: "";
  position: absolute;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
#statsPopup {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#helpPopup {
  white-space: pre-wrap;
}
.closebtn {
  position: absolute;
  cursor: pointer;
  background-color: rgb(165, 165, 165);
  font-size: 12px;
  padding: 0.5rem;

  border-color: rgb(82, 82, 82);
  border-radius: 50%;
  border-style: solid;
}

/* Show popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* ---------- DROPDOWN ----------- */
/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus,
.closebtn:hover, .closebtn:focus,
.popButton:hover, .popButton:focus {
  background-color: rgb(82, 82, 82);
  border-color: rgb(165, 165, 165);
  color: white;
}

.dropdown {
  position: relative;
  display: inline-block;
  
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;

  border-radius: 0.5rem;
  background-color: rgb(165, 165, 165);
  opacity: 95%;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: rgb(82, 82, 82);
  border-radius: 1rem;
}

/* Show the dropdown menu */
.show {display:block;}

/* images for menu buttons */
.atkimg, .ablimg, .stsimg {
  background-position: center;
  background-repeat: no-repeat;
}
.atkimg {
  background-image: url("icons/fighterIcon.svg");
}
.ablimg {
  background-image: url("icons/abilityIcon.svg");
  background-size: 3rem;
}
.splimg {
  background-image: url("icons/spellIcon.svg");
}
.stsimg {
  background-image: url("icons/stats.svg");
}

/* ----------- Animations ------------ */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes slide-up {
  from {transform: translateY(3rem);}
  to {transform: translateY(0rem);}
}

@keyframes slide-right {
  from {transform: translateX(-4rem);}
  to {transform: translateX(0rem);}
}

@keyframes slide-left {
  from {transform: translateX(4rem);}
  to {transform: translateX(0rem);}
  
}

@keyframes p-turn {
  0% {
    scale: 0.001;
    transform: translateX(0);
    opacity: 10;
  }
  10% {
    transform: translateX(-40rem);
  }
  45% {
    scale: 1.4;
    opacity: 100%;
  }
  50% {
    transform: translateX(0);
  }
  55% {
    scale: 1.4;
    opacity: 100%;
  }
  90% {
    transform: translateX(40rem);
  }
  100% {
    scale: 0.001;
    transform: translateX(0);
    opacity: 10;
  }
}


@keyframes e-turn {
  0% {
    scale: 0.001;
    transform: translateX(0);
    opacity: 10;
  }
  10% {
    transform: translateX(-40rem);
  }
  20% {}
  30% {}
  40% {}
  50% {
    scale: 1.4;
    transform: translateX(0);
    opacity: 100%;
  }
  60% {}
  70% {}
  80% {}
  90% {
    transform: translateX(40rem);
  }
  100% {
    scale: 0.001;
    transform: translateX(0);
    opacity: 10;
  }
}